<% content_for(:refresh) { refresh_button_to 'Refresh devices', fetches_path } %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Version</th>
      <th scope="col">Devices</th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |version, devices| %>
      <tr>
        <th scope="row">
          <span style="white-space: nowrap">
            <%= pluralize devices.count, 'device' %>
            <%= version ? "on version #{version}" : "with no app" %>
          </span>
        </th>
        <td>
          <% devices.map(&:short_name).sort.each do |short_name| %>
            <span class="badge badge-light"><%= short_name %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
