<table class="table">
  <thead>
    <tr>
      <th scope="col" class='align-top'>Version</th>
      <th scope="col">
        Devices
        <%= button_to fetches_path, form_class: 'float-right', class: 'btn btn-secondary btn-sm' do %>
        <i class="fas fa-sync fa-sm"></i> Refresh devices
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |version, devices| %>
      <tr>
        <th scope="row">
          <span style="white-space: nowrap">
            <%= pluralize devices.count, 'device' %> on version <%= version %>
          </span>
        </th>
        <td>
          <%= devices.map(&:name).sort.join ' ' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
