<table class="table">
  <thead>
    <tr>
      <th scope="col">Version</th>
      <th scope="col">Devices</th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |version, devices| %>
      <tr>
        <th scope="row">
          <%= pluralize devices.count, 'device' %> on version <%= version %>
        </th>
        <td>
          <%= devices.map(&:name).sort.join ' ' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
