<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>App version</th>
      <!--th>Actions</th-->
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.name %></td>
        <td><%= device.app_version %></td>
        <!-- <td>Cancel</td>add icons -->
      </tr>
    <% end %>
  </tbody>
</table>
