<table class="table">
  <thead>
    <tr>
      <th>Status</th>
      <th>Deploy at</th>
      <th>Package</th>
      <!--th>Actions</th-->
    </tr>
  </thead>

  <tbody>
    <% @builds.each do |build| %>
      <tr>
        <td><%= build.status %></td>
        <td>
          <%= l build.deploy_at.in_time_zone, format: :verbose %>
          (<%= time_ago_in_words build.deploy_at %> from now)
        </td>
        <td><%= link_to "Download", rails_blob_url(build.package, disposition: "attachment") %></td>
        <!-- <td>Cancel</td>add icons -->
      </tr>
    <% end %>
  </tbody>
</table>
